@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

/* @font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCode.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCodeItalic.woff2') format('woff2');
    font-style: italic;
} */

code, .asciinema-terminal{
    font-family: 'Hack', 'Cascadia Code', monospace;
    font-feature-settings: 'calt', 'ss01';
}



.gdoc-header{
    background-color: #02362b;
    background-color: #EF8354;
    border-bottom: 0.3em solid #882635;
    border-bottom: 0.3em solid #4F5D75;
    font-family: 'Atkinson Hyperlegible';
    font-weight: bold;
}
body{
    font-family: 'Atkinson Hyperlegible';
    letter-spacing: normal;
    line-height: normal;
    font-size: 1.2rem;
}

:root[color-mode=dark] h1,
:root[color-mode=dark] h2,
:root[color-mode=dark] h3,
:root[color-mode=dark] h4,
:root[color-mode=dark] h5,
:root[color-mode=dark] h6{
    color: #bd93f9;
}
:root[color-mode=dark] .gdoc-markdown code{
    color: #50fa7b;
}
:root[color-mode=dark] .chroma code{
    color: #ced3d8;
}
:root[color-mode=dark] .gdoc-page__header,
:root[color-mode=dark] .gdoc-search__input,
:root[color-mode=dark] .chroma code{
    background-color: #2f313f;
}
:root[color-mode=dark] strong{
    color: #ffb86c;
}
:root[color-mode=dark] a.gdoc-markdown__link{
    color: #8be9fd;
}
:root[color-mode=dark] .wrapper{
    background-color: #282a36;
}
